@charset "utf-8";

@import "variable";
@import "mixin";
@import "placeholder";
*{
  margin:0;padding:0;
}
img{display: block;border:0;}
a{text-decoration: none;}
em,i{font-style: normal}
/*login页面*/
.l-header{width:100%;height:60px;border-bottom: 1px solid #e5e5e5;}
.l-header-center{
  width:1200px;height:60px;margin: 0 auto;
    img{
      margin-top: 20px;
    }
}
.l-main{width:100%;height: 700px;background: url("../images/login/l-main-bj.jpg")no-repeat center #f7f2ec;position: relative}
.l-main-center{margin: auto;position: relative}
.login-box{  width:420px;height:560px;background: #fff;border: 1px solid #d8d8d8;box-shadow: 0 0 20px #c8c8c8;position:absolute;right: 30px;top:70px;}
.dlfs{
  list-style: none;height:50px;line-height:50px;font-size:16px;background:#f7f7f7;
  li{
    float:left;width:209px;text-align: center;color:#afafaf;border-bottom:2px solid #fff;
  }
  li:hover{border-bottom:2px solid #464646;font-weight: 600;color:#464646}
}
.dlfs .dlfsactive{border-bottom:2px solid #464646;font-weight: 600;color:#464646}
.dxlogin>input,.pwdlogin>input{margin-left: 50px;margin-top: 20px;}
input[type=button]{width:100px;height:34px;background:#f7f7f7;margin-left: 10px;border: 1px solid #d8d8d8}
.dxlogin>p,.pwdlogin>p{margin-top: 20px;margin-left: 50px;}
.check{width:16px;height:16px;display:block;float:left;margin:2px  5px;background: url("../images/login/login-zh1.png")no-repeat -180px 0;line-height: 20px;}
.duoxuan{
  font-size:12px;width:300px;height:20px;margin-top: 10px;line-height: 20px;position: relative;
  a{float: right;color:#464646;}
}
.l-tishi{position:absolute;left:0;top:20px;display: block;height:20px;color: #DE6907;line-height: 12px;padding:3px;border: 1px solid #F1D47C;text-shadow: #fff 0 1px 0;margin-top: 7px;background: #FFFCD1;display: none;}
.l-tishi i{display:inline-block;width:15px;height:10px;background:url("../images/login/login-zh2.png")no-repeat -12px -50px;position: absolute;left:50px;top:-10px;}
input[type=submit]{width:300px;height:40px;border: 0;background:url("../images/login/login-zh1.png") no-repeat 0 -40px;color: #fff;margin-top: 20px;}
input[type=submit]:hover{background:url("../images/login/login-zh1.png") no-repeat 0 -90px;}
.hzzhdl{width:300px;border-top:1px solid #e7e7e7;position: relative}
.hzzhdl>span{font-size: 12px;background: #fff;position: absolute;left:100px;top:-6px;}
.hzzh{margin-left: 50px;}
.hzzh>li{width:30px;height:30px;float: left;list-style: none;margin:0 15px;margin-top: 25px;}
.hzzh li a{display: inline-block;width:30px;height:30px;background: url(../images/login/login-zh1.png)no-repeat }
.hzzh li:nth-of-type(2) a{background: url(../images/login/login-zh1.png)no-repeat -30px 0;}
.hzzh li:nth-of-type(3) a{background: url(../images/login/login-zh1.png)no-repeat -60px 0;}
.hzzh li:nth-of-type(4) a{background: url(../images/login/login-zh1.png)no-repeat -90px 0;}
.hzzh li:nth-of-type(5) a{background: url(../images/login/login-zh1.png)no-repeat -120px 0;}
.phone,.pwd{width:300px;height:34px;border:1px solid  #d8d8d8;padding: 0 10px;}
.dxyzm{width:185px;height:34px;border:1px solid #d8d8d8;padding:0 10px;}
.err-msg{margin: 5px 10px;}
.pwdlogin{display: none}
.ewm-login{width:60px;height:60px;background: url("../images/login/login-zh1.png") 0 -400px;position: absolute;right:0;bottom: 0;}
.zt{display: inline-block;width:85px;height: 25px; background:url("../images/login/login-zh1.png")0 -360px;position:absolute;right:70px;bottom: 30px;}

.sm-login{width:370px;height: 450px;border: 1px solid #d8d8d8;box-shadow: 0 0 20px #c8c8c8;
  position: absolute;top:70px;right:30px;padding-left: 50px;display: none;}
.sm-login>h2{font-size: 16px;color:#3E3E3E}
.ewm-img>img{padding: 10px;border:1px solid #dddddd;margin:50px auto 20px;}
.ewm-ts{margin:0 auto;width:170px;}
.ewm-ts>a{color: red;}
.ewm-ts>a:hover{color:red;text-decoration:underline}

.l-footer{width:100%;height:110px;font-size: 12px;}
.l-footer>.list-inline{font-size:12px;text-align: center;margin-top: 30px;}
.list-inline a{color: #464646}
.list-inline span{margin:0 10px;}
.l-footer>p{text-align: center;color:#999;}

/*index页面*/
.i-header{width:100%;height:93px;background: #333;}
.i-header-center{width:1200px;height:93px;margin:0 auto;font-size: 12px;}
.i-small-nav{float:left;}
.i-small-nav>li{float:left;height:35px;padding: 0 5px;line-height: 35px;}
.i-small-nav>li:nth-of-type(1)>a:hover{color:#D7D7D7;}
.i-small-nav>li:nth-of-type(2)>a span{padding:0 5px;color:#f78407}
.i-small-nav>li:nth-of-type(3)>a:hover>ul{display: block;}
.i-small-nav>li>ul{display: none;}
.i-small-nav>li>ul>li{line-height:25px;}
.i-small-nav>li:nth-of-type(2)>a i{display:block;width:20px;height:18px;float:left;background: url("../images/index/index-xtb.png") no-repeat -215px -50px;margin: 0 5px;margin-top: 10px;}
.i-small-nav>li:nth-of-type(3)>a i{display: block;width:12px;height:12px;float: right;background: url("../images/index/index-xtb.png") no-repeat right -125px;margin-top: 15px;}

.i-logo{padding-top:10px;}
.i-logo>a{display: block;width:212px;height:32px;float:left;margin-left:220px;background: url("../images/index/index-xtb.png")no-repeat 0 0;}

.i-ss{width:263px;height:28px;border: 1px solid #787878;float: right;}
.inputbox{background:#333;border:0;width:230px;height:26px;line-height: 26px;padding-left: 10px;float: left ;color: #787878; outline:none}
.i-ss>span{display:block;width:26px;height:28px;background: url("../images/index/index-xtb.png")no-repeat 0 -42px;float: right;cursor: pointer}
.i-nav{width:1200px;height:44px;float: left;font-size: 15px;line-height: 44px;margin-top: 5px;text-align: center}
.i-nav>ul{width:600px;height:40px;margin: auto}
.i-nav li{float: left}
.i-nav>ul>li>a{color:#eee;display:inline-block;line-height:40px;padding:0 15px;margin: 0 5px;font-weight:600}
.i-nav>ul>li>a:hover{border-bottom: 2px solid #727071;font-weight:600;color:#bfbfbf;}
.i-nav>ul>li>.i-nav-active{border-bottom: 2px solid #727071;font-weight:600;color:#bfbfbf;}

.menu{width:100%;height:42px;background: #f7f7f7;}
.menu-center{width:1200px;margin: auto;position: relative}
.i-menu{width:600px;height:42px;line-height:42px; margin: 0 auto;position: relative}
.i-menu>li{float: left;margin:0 2px;border-right:1px solid #f7f7f7;border-left:1px solid #f7f7f7;border-bottom: 3px solid #f7f7f7;position:relative;}
.i-menu>li:hover{border-right:1px solid #d7d7d7;border-left:1px solid #d7d7d7;}
.i-menu>li:hover em{display: block;width:61px;height: 5px;background:#Fff;position: absolute;z-index: 20;top:42px;}
.i-menu>li .bag{width:720px;height:auto;border:#d7d7d7 solid 1px;position: absolute;left:-1px;top:42px;z-index: 1;background: #fff;padding: 0 15px 10px;}
.i-menu>li .bag-left{float: left;width:450px;}
.i-menu>li .bag-right{float: right;width:220px;margin-left:5px;}
.i-menu>li .bag-right li{width:110px;float: left;height:18px;line-height: 18px;margin: 2px 0px;}
.i-menu>li div dl{border-top: dashed 1px #a5a5a5;font-size: 12px;width:452px;margin-bottom: 20px;}
.i-menu>li div dl span{margin: 0 5px;}
.i-menu>li div dt{line-height: 20px;margin-top: 10px;}
.i-menu>li div dd{line-height: 14px;height:14px;}
.i-menu>li div dd .rmsp{color: red;}
.i-menu>li div h3{font-size:12px;font-weight: 600;color: red;height:40px;line-height: 50px;}
.i-menu>li div a{color:#000;font-size: $smallfont;}
.i-menu>li div a:hover{color:red;}
.i-menu>li div dt:hover{color:orange}
.i-menu>li>a{font-size: 14px;color:#000;display: inline-block;width:62px;height:42px;text-align: center;border-left: #f7f7f7 1px solid; border-right: #f7f7f7 1px solid;border-top: #f7f7f7 1px solid;}
.zxcj{float: right;position: absolute;right:0;top:12px;font-size: 12px;}
.zxcj{color: #333;}
.zxcj:hover{color: red;}

.banner{width:100%;height:610px;margin: 20px 0 30px;}
.banner-center{width:1200px;height:610px;margin: auto;position: relative}
.banner-center>img{width:100%;height:100%;position:absolute;}

.zx-active{width:100%;height:86px;}
.zx-active-center{width:1200px;height:86px;margin: 0 auto;}
.zx-active-center>a{width:250px;height:86px;margin-right:60px;display: inline-block;float: left;background: url("../images/index/zx-active.jpg")no-repeat;}
.zx-active-center>a:nth-of-type(2){background-position: -245px 0;}
.zx-active-center>a:nth-of-type(3){background-position: -740px 0;}
.zx-active-center>a:nth-of-type(4){background-position: -985px 0;}

.i-main{width:100%;height:auto;}
.i-main-center{width:1200px;height:auto;margin: auto}
.jhtj>h2>img{margin: auto  }
.jhtj ul{width:1200px;height:600px;margin-bottom: 40px;}
.jhtj ul>li{float: left;width:400px;height:300px;position: relative;}
.jhtj ul>li:hover p{width:400px;height:300px;background:#fff;position: absolute;left: 0;top:0;z-index: 20;opacity: 0.5;}

.rjzt>ul{width:1200px;height:300px;}
.rjzt ul>li{width:600px;height:300px;float: left;position: relative}
.rjzt-active{position: absolute;left: 50%;top:50%;margin-top:-45px;margin-left:-185px;}

.main-banner{width:1200px;height:400px;margin-top: 40px;margin-bottom: 50px;}

.fxhh{width:1200px}
.fxhh>h2{margin-bottom: 20px;}
.fxhh>h2>img{margin: auto}
.fxhh ul{width:1200px;height: 2040px;float: left;margin-bottom: 20px;}
.fxhh ul li{width:287px;height:490px;border:2px solid #eaeaea;margin: 0 17px 20px 0;float: left;overflow: hidden}
.fxhh ul li:hover{border:2px solid #d5d5d5;}
.fxhh .ckgdzt{margin-bottom: 50px;}

.i-footer{width:100%;height:389px;}
.footer-service{width:100%;height:180px;background: #EBEBEB;border-top: #9a9a9a 3px solid;}
.service-center{width:1200px;height:180px;margin: auto}
.service-center>dl{width:130px;float: left;margin-right: 60px;margin-top: 25px;}
.service-center>dl{margin-bottom: 17px;font-size: 14px;}
.service-center>dl>dd{font-size: 12px;line-height: 20px;}
.i-footer a{color:#252525;font-size: 12px;}
.i-footer a:hover{color:orange}

.foot{width:1200px;height:206px;margin: auto}
.foot>.list-inline{text-align: center}
.list-inline>li{line-height: 32px;margin-top:15px;}
.foot>p{text-align: center;font-size: 12px;color: #999;margin-top: 70px;}
.zlsb{width:440px;height:49px;margin: auto;}
.zlsb>a{float: left;margin: auto;margin-left: 12px;padding: 10px 0;}